@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(fonts/Caladea-400-italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/Caladea-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(fonts/Caladea-700-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Carlito';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(fonts/Carlito-400-italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Carlito';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/Carlito-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Carlito';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(fonts/Carlito-700-normal.woff2) format('woff2');
}
